
<html>
<head>
    <title>RequireJS Skeleton</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">RequireJS Skeleton</a>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <h1>PoC for RequireJS</h1>
            <p>Example app with RequireJS</p>
        </div>

        <div class="row">

        <div id="content"></div>

        <hr>
    </div>

    <footer>
        <p>Footer Stuff</p>
    </footer>

    <script id="bookTemplate" type="text/x-handlebars-template">
        <div class="span4">
            <h2>Book: <%= name %></h2>
            <p><%= description %></p>
        </div>
    </script>

    <script data-main="js/main" src="js/lib/requirejs/require.js"></script>
</body>
</html>
